.bioquids-logo {
	margin: 20px auto;
	display: block;
    float: none;
}


.export-to-word {
  background-color: #3b3b7b;
  background-image: linear-gradient(#3b3b7b, #3b3b7b 6%, #3b3b7b);
  margin: 0 0 20px 0;
}

.export-to-pdf {
  background-color: #b31e1e;
  background-image: linear-gradient(#b31e1e, #b31e1e 6%, #b31e1e);
  margin: 0 0 20px 20px;
}

.export-to-excel {
  background-color: #2d692d;
  background-image: linear-gradient(#2d692d, #2d692d 6%, #2d692d);
  margin: 0 0 20px 20px;
}